{
  "extends": [
		"airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "parserOptions": {
   "project": "./tsconfig.json"
  },
  "plugins": [
    "jsx-a11y"
  ],
  "rules": {
    "semi": "off",
    "@typescript-eslint/semi": ["error", "never"],
    "react/jsx-filename-extension": [1, { "extensions": [".ts", ".tsx"] }],
    "linebreak-style": 0,
    "arrow-parens": "off",
    "prefer-default-export": "off"
  },
  "env": {"browser": true}
}
